.axis path, .axis line{
    fill: none;
    stroke: black;
    shape-rendering: auto;
}

.axis text{
    font-size: 11px;
    fill: blue;
}

body{
    background: #3B3B3B;
}

.axis line{
    stroke: #DDDDDD;
}

.axis path{
    stroke: #DDDDDD;
}

.axis text{
    stroke: #DDDDDD;
}

div{
    font-size: 15px;
    color: aliceblue;
    font-family: serif;
    text-align: center;
}

#selectedStock{
    font-size: 30px;

}